@import "settings";
@import "foundation";

.alert-box a {
  color: rgb(255, 193, 26);
}

.lesson-field {
  min-width: 80px;
}

.section-wrapper {
  margin: 10px 0px;
  padding: 10px 25px;
  border: 1px solid rgb(199, 199, 199);
  background-color: rgb(240, 240, 240);
  border-radius: 7px;
}

.rules-display, .lessons-display {
  padding: 10px 15px;
  margin-bottom: 10px;
}

.rules-display, .lessons-display, .subjects-display {
  font-weight: bold;
  p {
    font-weight: bold;
  }
}

section {

}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
